@import "tailwindcss";

@property --y {
  syntax: "<percentage>";
  inherits: false;
  initial-value: -1%;
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}
* {
  /* outline: 3px blue solid; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.gradient-interactive {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border: 2px teal solid;
  z-index: 999;
}

.menu-text {
  font-size: 2em;
  cursor: pointer;
  color: #97d4d4;

  font-family: var(--font-orbitron);

}


.middle {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav {
  display: flex;
  gap: 20px;
  width: 100%;
  align-items: center;
  position: absolute;
  bottom: 12rem;
  font-family: var(--font-orbitron);
  cursor: pointer;
  li:hover {
    color: #8dd4f7;
    transition: 0.3s ease;
  }
}
.hero-heading {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  border: 1px red solid;
  h1 {
    font-size: 3em;
  }
}

#footer-container {

  width: 100%;
  background-color: black;
  color: white;
  padding-inline: 24px;
  padding-block: 48px;


}
.footer-left, .footer-right {
  display: flex;
  flex-direction: column;
  gap: 10px;

}
.special-right {
  gap: 20px;
}
.sub-heading {
  
  position: relative;
  white-space: nowrap;
  display: flex;
  p {
    position: relative;
    margin: 0px;
    color: white;
    font-size: 20px;
    font-weight: 500;
    padding-right: 50px;
  }
 
}
.sub-heading p:nth-of-type(2){
  position: absolute;
  left: 100%;
  top: 0;
}
.slider-container {
  position: absolute;
  top: calc(100vh - 350px);
}
.super-script {
  position: absolute;
  right: 20px;
  top: 2px;
}
.circle {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: red;
}
.left, .right {
  display: flex;
  gap: 80px;
  align-items: center;
  position: relative;
}
.left {
  width: 100px;
  height: 100px;
  position: relative;
}
.container {
  position: relative;
}

.icons {
  display: flex;
  gap: 30px;
}
.grid-element {
  
  
  position: relative;
  border-radius: 20px;
 
}
.el-1 {
  grid-column: 1 / span 3;
  grid-row: 5 / span 2;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 3px rgba(77,201,201,0.1) solid;
  visibility: visible;
  opacity: 0;

  transform: translateX(-600px), translateY(200px);}
.el-6 {
  grid-column: 4 / span 3;
  grid-row: 8 / span 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 3px rgba(77,201,201,0.1) solid;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 3em;
  font-family: var(--font-orbitron);
  font-weight: 700;
  transform: translateX(-600px), translateY(200px);  
  opacity: 0;


}
.el-2 {
  grid-column: 7 / span 2;
  grid-row: 2 / span 3;
  display: flex;
  justify-content: flex-start;
  border: 3px rgba(77,201,201,0.1) solid;
  padding: 1.5rem;
  gap: 10px;
  flex-direction: column;
  transform: translateX(600px), translateY(200px);
  opacity: 0;


}

.el-3 {
  grid-column: 7 / span 3;
  grid-row: 5 / span 3;
  transform: translateX(600px), translateY(200px);
  opacity: 0;



}
.el-4 {
  grid-column: 2 / span 2;
  grid-row: 3 / span 2;
  transform: translateX(-600px), translateY(200px); 
  opacity: 0;

}
.el-5 {
  grid-column: 4 / span 3;
  grid-row: 2 / span 6;
  width: 100%;
  overflow-x: clip;
  opacity: 0;
 

  
}




.grid-element.el-5.fullscreen {
  position: fixed;
  z-index: 8;
  grid-column: unset;
  grid-row: unset;
  background-color: transparent;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100dvh;
  
}
.profile-pic {
  inset: 0;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 5;
  opacity: 0;
  transform: translateY(900px);
}
.bg-video {
  position: absolute;
  width: 100%;
  height: 100%;

  z-index: 0;
  border-radius: 20px;
  /* filter: blur(2px); */
  /* min-block-size: 100%; */
  /* background: linear-gradient(#8dd4f7, #9080fa 85%) no-repeat, url(/snowy.jpg) fixed no-repeat center / cover; */
  background-blend-mode: soft-light;
}
.snowflake,
.snowflake::before,
.snowflake::after {

  position: absolute;
  inset: 0;
  content: '';
  overflow: hidden;
  pointer-events: none;
  background-image: radial-gradient(
    circle at 5% calc(var(--y) * 1),
    #fff 3px, transparent 6px
  ),
  radial-gradient(
    circle at 65% calc(var(--y) * 1.3),
    #fff 2px, transparent 4px
  );
}
.snowflake {
  animation: snowfall 20s linear infinite;

  background-size: 65% 100%;
}
.snowflake::after {
  inset: -4rem 0 0;
  background-size: 45% 100%;
  animation: snowfall 27s linear infinite;

  opacity: 0.7;
}
.snowflake::before {
  inset: -8rem 0 0;
  background-size: 32% 100%;
  animation: snowfall 37s linear infinite;

  opacity: 0.8;
}

@keyframes snowfall {
  0% {
    --y: -1%;
  }
  100% {
    --y: 101%;
  }
}
.element-content { 
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding-top: 11rem;
  width: 100%;
  text-align: center;
  position: relative;
  z-index: 1;
  color: white;
  gap: 30px;
  

}
.hero-tag {
  font-family: var(--font-orbitron);
  position: absolute;
  top: 23rem;
  left: 50%;
  transform: translateX(-50%);
}


.section-info {
  height: 100lvh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 3.5rem;
  h2 {
    font-size: 3em;
    
  }
  span {
    font-family: var(--font-orbitron);
    font-size: 2em;
    color: #97d4d4;
  }
}
.scene-container {
  width: 100%;
  height: 100svh;
  background-color: transparent;
  z-index: -1;
  position: relative;
  
}
#scene-data {
  font-family: var(--font-orbitron);
}
#scene-data-container {
  background-color: hsl(0, 0%, 97%, 0.9);
  padding: 1.5rem;
}


.section-content-2 {
  background: linear-gradient(
120deg,
#272626,
#d3cfcf,
#060606,
#fffefe
);
    
    background-size: 400% 400%;

  height: 100lvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  animation: gradient 15s ease infinite;

  h2 {
    font-size: 3em;
  }
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.blog-plug {
  height: 50dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  text-align: center;
  justify-content: center;
  gap: 3rem;

  h2 {
    font-size: 2.5em;
  }
 
  span {
    font-family: var(--font-orbitron);
    font-size: 5em;
    color: #97d4d4;
    text-align: center;
  }
}
.burger {
  color: black;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
    width: 100%;
    height: 100%;
    border-radius: 20px;

    position: absolute;
    gap: 15px;
    padding: 0.4rem;
    background-color: transparent;
    z-index: 50;
  
}



@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  min-height: 100dvh; /* grows with content, doesn't constrain */
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;

  -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;

}
html, body {
  overflow-x: clip;
}

html {
  scroll-behavior: smooth;
}



h1, h3, h2 {
  font-family: "Orbitron", sans-serif;
}
h3 {
  font-weight: 900;
}
#instructions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  position: absolute;
  width: 100%;
  bottom: 2rem;
}



@media (min-width: 320px) and (max-width: 425px) {

  .middle {
    display: none;
  }
  .el-6 {
    grid-column: unset;
    grid-row: unset;
    padding: 10px;
    font-size: 2em;
  
  
  }
  .el-5 {
    /* height: auto; */
    height: 100lvh;
    grid-column: unset;
    grid-row: unset;
    
  }
  .el-1 {

    padding: 1rem;
    height: auto;


  }
 
  .burger {
    color: white;
  }
  .section-content-1 {
   
  
    h2 {
      font-size: 1em;
    }
  }

  /* .profile-pic {
    position: unset;
  } */
  .grid-element.el-5.fullscreen {
    position: unset;
    width: 100%;
  }


  .header {
    left: 20%;
    justify-content: space-evenly;
  }
  .hero-heading {
    h1 {
      font-size: 3em;

    }
  }
  .sub-heading {

    gap: 20px;
    width: 90%;
    margin-top: 2rem;
    span {

      font-size: 0.8em;

    }
    p {
      font-size: 0.6rem;
    }
  }
  .blog-plug {

 
  h2 {
    font-size: 0.5em;

  }
 
  span {
    font-family: var(--font-orbitron);
    font-size: 2em;
    color: #97d4d4;
    text-align: center;
  }
}
  .hero-tag {
   
    top: 27rem;
    width: 300px;
    
  }
  .grid-container {
    display: flex;
    flex-direction: column;
    height: auto;
    /* min-height: 100dvh; */
    
 
}
.menu-text {
  font-size: 1.2em;
  color: #97d4d4;
}
.el-1, .el-3, .el-6 {
  opacity: 1;
}
.el-4, .el-2 {
  display: none;
}
  #instructions {
    top: unset;
    bottom: 29rem;
    color: white;
  
  }
  
}

