@import "tailwindcss";

@property --y {
  syntax: "<percentage>";
  inherits: false;
  initial-value: -1%;
}
:root {
  --background: red;
  --foreground: #171717;
}
* {
  /* outline: 3px blue solid; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  height: auto;
}

/* TOUR PAGE Styling */

.tour-page-container {
  background: #1d1a1a;
  background: linear-gradient(
    180deg,
    rgba(29, 26, 26, 1) 79%,
    rgb(60, 57, 57) 100%
  );
  text-align: center;
}
.tour-page-description {
  /* border: 1px blue solid; */
  text-align: center;
  color: white;
  width: 400px;
  margin-top: 30px;
}
.tour-header {
  color: white;
  font-size: 2rem;
}
.showcase-interactive {
  display: flex;
  /* border: 1px blue solid; */
  height: 50%;
  align-items: center;
  justify-content: center;
  gap: 20%;
}
.tour-user-controls {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px red solid;
  color: white;
}
.animated-box {
  animation: rotate-cube 20s linear infinite;
  transform-style: preserve-3d;
}
.vibe-highlight {
  background-color: unset;
  color: unset;
  background-color: #59c1c1;
  color: white;
}
.outer-box {
  width: 150px;
  height: 150px;
  border-radius: 20px;
  border: 2px teal solid;
  position: relative;
  transform-style: preserve-3d;
  transform: rotateY(-60deg) rotateX(-10deg);

  perspective: 1000px;
  transition: transform 0.5s ease;
}
.side {
  width: 150px;
  height: 150px;
  border-radius: 20px;
  border: 2px teal solid;
  transition: transform 0.5s ease;
  position: absolute;
  text-align: center;
  transform-style: preserve-3d;
}
.front.side {
  background-color: teal;
  transform: translateZ(100px);
}
.back.side {
  background-color: #8dd4f7;
  transform: translateZ(-100px);
}
.right.side {
  background-color: #9080fa;
  transform: translateX(100px) rotateY(90deg);
}
.lef.side {
  background-color: #97d4d4;
  transform: translateX(-100px) translateY(-150px) rotateY(-90deg);
}

@keyframes rotate-cube {
  0% {
    transform: rotateX(45deg) rotateY(45deg);
  }
  25% {
    transform: rotateX(-45deg) rotateY(45deg);
  }
  50% {
    transform: rotateX(-45deg) rotateY(-45deg);
  }
  75% {
    transform: rotateX(45deg) rotateY(-45deg);
  }
  100% {
    transform: rotateX(45deg) rotateY(45deg);
  }
}
/* ---------------------------------------- */

.gradient-interactive {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border: 2px teal solid;
  z-index: 999;
}

.menu-text {
  font-size: 2em;
  cursor: pointer;
  color: #97d4d4;

  font-family: var(--font-orbitron);
}

header {
  justify-content: space-evenly;
  position: fixed;
  top: 10px;
  z-index: 1000;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
}
.drop-down {
  display: flex;
  flex-direction: column;
  font-size: var(--font-orbitron);

  /* background-color: blue; */
  gap: 1.5rem; /* 6 * 0.25rem (Tailwind's spacing scale) */
  padding: 2rem 1.5rem; /* py-8 (2rem top/bottom) and px-6 (1.5rem left/right) */
}
.drop-down-link {
  cursor: pointer;
  padding: 0.5rem;
  font-size: var(--font-orbitron);
  transition: all 0.3s ease; /* duration-75 */
  border-radius: 0.375rem; /* rounded-md (6px) */
  color: black; /* text-black */
}
.menu-label {
  font-size: var(--font-orbitron);
}
.drop-down-link:hover {
  /* background-color: ; hover:bg-black */
  opacity: 0.7; /* hover:opacity-70 */

  color: white; /* hover:text-white */
  transition: all 0.3s ease;
}
.drop-down-button {
  border: 2px solid; /* border-2 */
  margin: auto; /* self-center */
  text-align: center; /* text-center */
  background-color: black; /* bg-black */
  width: 9.375rem; /* w-37.5 (37.5 * 0.25rem) */
  border-radius: 0.375rem; /* rounded-md (6px) */
  cursor: pointer; /* cursor-pointer */
  transition: opacity 0.2s; /* transition-opacity */
  font-family: var(--font-orbitron);
  font-size: 14px;
}

.middle {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav {
  display: flex;
  gap: 20px;
  width: 100%;
  align-items: center;
  position: absolute;
  bottom: 12rem;
  font-family: var(--font-orbitron);
  cursor: pointer;
  li:hover {
    color: #8dd4f7;
    transition: 0.3s ease;
  }
}
.hero-heading {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  /* border: 3px purple solid; */
  h1 {
    font-size: 2.6rem;
  }
}
.hero-lead {
  font-family: var(--font-orbitron);
  min-width: 25rem;
}

#footer-container {
  width: 100dvw;
  background-color: black;
  color: white;
  margin-top: 20px;
  padding-inline: 36px;
  padding-block: 48px;
  position: relative;
  z-index: 200;
}
.footer-left,
.footer-right {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.special-right {
  gap: 20px;
}
.sub-heading {
  position: relative;
  white-space: nowrap;
  display: flex;
  p {
    position: relative;
    margin: 0px;
    color: white;
    font-size: 20px;
    font-weight: 500;
    padding-right: 50px;
  }
}
.sub-heading p:nth-of-type(2) {
  position: absolute;
  left: 100%;
  top: 0;
}
.slider-container {
  position: absolute;
  top: calc(100vh - 350px);
}
.super-script {
  position: absolute;
  right: 20px;
  top: -20%;
  color: #4dc9c9;
}
.circle {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: red;
}
.left,
.right {
  display: flex;
  gap: 80px;
  align-items: center;
  position: relative;
}
.left {
  width: 100px;
  height: 100px;
  position: relative;
}
.container {
  position: relative;
}

.icons {
  display: flex;
  gap: 30px;
}
.grid-element {
  position: relative;
  border-radius: 20px;
}
/* .el-1 {
  grid-column: 1 / span 3;
  grid-row: 7 / span 2;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 3px rgba(77, 201, 201, 0.1) solid;
  visibility: visible;
  opacity: 0;

  transform: translateX(-600px), translateY(200px);
} */

.el-1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1.5rem;
  opacity: 0;
  height: 150px;
  justify-content: center;
  border: 3px rgba(77, 201, 201, 0.1) solid;
  /* visibility: visible; */
}
.el-2,
.el-3,
.el-4 {
  display: flex;
  justify-content: flex-start;
  border: 3px rgba(77, 201, 201, 0.1) solid;
  padding: 1.5rem;
  gap: 10px;
  flex-direction: column;
  opacity: 0;
  position: relative;
}
.el-3 {
  height: 200px;
  /* padding: 2rem; */
}
.element-container {
  width: 100%;
  height: 100%;
  position: relative;
  /* border: x1px red solid; */
  border-radius: 20px;
}

.three-d-world {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 20px;
  will-change: width, height;
  /* overflow: hidden; */
  /* border: 1px red solid; */
  /* z-index: 1200; */
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.enter-world {
  border: 1px #4dc9c9 solid;
  color: white;
  border-radius: 5px;
}
.three-d-world.hide {
  opacity: 0;
  pointer-events: none;
}

.world-entry {
  position: absolute;
  top: 0;
  width: 100%;
  /* border: 1px green solid; */
  height: 100%;
  /* z-index: 600; */
}
.world-one,
.world-two {
  transform-origin: left center;
}

.world-one {
  z-index: 800;
}

.world-two {
  z-index: 700;
}
.world-three {
  z-index: 600;
}
.entry-prompt {
  position: absolute;
  opacity: 1;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: var(--font-orbitron);
  font-size: 1.5rem;
  z-index: 300;
  /* border: 2px blue solid; */
  height: 30%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  background-color: hsla(0, 0%, 0%, 0.8);
}
.entry-prompt.show {
  opacity: 1;
  z-index: 1200;
}
.description-world {
  color: white;
  position: absolute;
  z-index: 300;
  /* border: 1px red solid; */
  /* padding: 15px; */
  height: 25%;

  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* position: relative; */
}
.desc-back {
  position: absolute;
  z-index: 300;
  /* border: 1px red solid; */
  height: 100%;
  width: 100%;
  filter: blur(5px);
  background-color: hsla(0, 0%, 0%, 0.9);
  bottom: 0;
}
.desc {
  position: absolute;
  z-index: 400;
  display: flex;
  flex-direction: column;
  gap: 25px;

  padding: 25px;
}
.world-title {
  text-transform: uppercase;
}
.world-image-preview {
  object-fit: cover;
  z-index: 200;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  transition: all 0.3s ease;
}
.entry-button.add-pointer {
  pointer-events: all;
}
.world-image-preview.hide {
  opacity: 0;
}
.wrld-holder {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1100;
}
.wrld-overlay {
  position: absolute;
  top: 5%;
  right: 8%;
  opacity: 0;
  width: 100px;
  height: 50px;
  border-radius: 20px;
  font-size: 12px;
  font-family: var(--font-orbitron);
  color: white;
  /* border: 2px red solid; */
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}
.wrld-overlay:hover {
  background-color: #59c1c1;
  transition: all 0.3s ease;
}
.wrld-overlay:active {
  background-color: #59c1c1;
  transition: all 0.3s ease;
  scale: 0.9;
}
.wrld-overlay.show {
  opacity: 1;
}
.wrld-text {
  position: absolute;
  bottom: 2%;
  left: 50%;
  z-index: 900;
  opacity: 0;
  text-transform: uppercase;
  font-size: 30px;
  width: 100%;
  text-shadow:
    0 0 5px #241e20,
    0 0 10px #241e20,
    0 0 20px #241e20,
    0 0 40px #241e20,
    0 0 80px #241e20;
  font-family: var(--font-orbitron);
  text-align: center;
  color: silver;
  transform: translate(-50%, -50%);
}
.wrld-text.show {
  opacity: 1;
}
.entry-button {
  border: 1px white solid;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  pointer-events: none;
  transition: all 0.3s ease;
}

.entry-button:hover {
  background-color: #59c1c1;
  color: white;
  transition: all 0.3s ease;
}
.world-entry-container {
  position: relative;
  width: 100%;
  /* padding: 10px; */
  height: 100%;
  /* border: 5px red solid; */
  background-color: transparent;
}
.ass-controls {
  /* border: 1px red solid; */
  position: absolute;
  left: 0;
  z-index: 850;
  width: auto;
  height: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  top: 40%;
}

.square {
  height: 10px;
  width: 10px;
  /* border: 1px red solid; */
  background-color: #4dc9c9;
  transform: rotate(45deg);
}
.square-2,
.square-3 {
  opacity: 0.5;
}
.element-expanded {
  position: unset;
  position: fixed;
  z-index: 1200;
  height: 100dvh;
  top: 0;
  width: 100dvw;
  left: 0;
}

.el-6 {
  display: flex;
  flex-direction: column;
  border: 3px rgba(77, 201, 201, 0.1) solid;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 2em;
  padding: 1rem;
  font-family: var(--font-orbitron);
  font-weight: 700;
  opacity: 0;
}
/* .el-6 {
  grid-column: 4 / span 3;
  grid-row: 8 / span 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 3px rgba(77, 201, 201, 0.1) solid;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 3em;
  font-family: var(--font-orbitron);
  font-weight: 700;
  transform: translateX(-600px), translateY(200px);
  opacity: 0;
} */

/* .el-2 {
  grid-column: 7 / span 2;
  grid-row: 2 / span 3;
  display: flex;
  justify-content: flex-start;
  border: 3px rgba(77, 201, 201, 0.1) solid;
  padding: 1.5rem;
  gap: 10px;
  flex-direction: column;
  transform: translateX(600px), translateY(200px);
  opacity: 0;
} */

/* .el-3 {
  grid-column: 7 / span 3;
  grid-row: 5 / span 3;
  transform: translateX(600px), translateY(200px);
  opacity: 0;
} */
/* .el-4 {
  grid-column: 2 / span 2;
  grid-row: 4 / span 3;
  transform: translateX(-600px), translateY(200px);
  opacity: 0;
} */
/* .el-5 {
  grid-column: 2 / span 7;
  grid-row: 3 / span 5;
  width: 100%;
  overflow-x: clip;
  opacity: 0.8;
} */
.vibe-select-container {
  position: fixed;
  /* top: 30dvh; */
  transform: translate3d(-50vw, 0, 0);
  z-index: 100;
  left: 0;
  opacity: 1;
  padding: 20px;
  height: 300px;
  background-color: black;
  border-radius: 5px;
  will-change: transform;
  transition: all 0.3s ease;

  /* Offset by 50% of its own width and height */
}
.vibe-select-container.open-vibe {
  transition: all 0.3s ease;
}
.vibe-select {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  /* color: white; */
  background-color: black;
  align-items: center;
}

.vibe-o-c {
  position: absolute;
  right: -25px;
  width: 30px;
  height: 50px;
  background-color: black;
  cursor: pointer;
  top: 50%;
  font-family: var(--font-orbitron), sans-serif;
  writing-mode: sideways-rl;
  border-radius: 5px;
  text-align: center;
  transition: all 0.1s ease;
  transform: translateY(-50%);
  color: white;
  /* border: 1px red solid; */
}
.vibe-o-c:active {
  background-color: #59c1c1;
}
.vibe {
  cursor: pointer;
  border: 1px rgb(139, 133, 133) solid;
  border-radius: 30px;
  padding: 4px;
  color: rgb(231, 224, 224);
  transition: all 0.3s ease;
}

.my-class {
  overflow: hidden; /* Matches "overflow-hidden" */
  border: 1px solid; /* Matches "border" */
  background-color: black; /* Matches "bg-blue-600" */
  border-radius: 0.375rem; /* Matches "rounded-md" */
  margin-top: 3rem; /* Matches "mt-12" */
  width: 100%; /* Matches "w-full" */
}

.profile-pic {
  inset: 0;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 5;
  opacity: 0;
  transform: translateY(900px);
}
.bg-video {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;

  z-index: 0;
  border-radius: 20px;
  /* filter: blur(2px); */
  /* min-block-size: 100%; */
  /* background: linear-gradient(#8dd4f7, #9080fa 85%) no-repeat, url(/snowy.jpg) fixed no-repeat center / cover; */
  background-blend-mode: soft-light;
}
.snowflake,
.snowflake::before,
.snowflake::after {
  position: absolute;
  inset: 0;
  content: "";
  overflow: hidden;
  pointer-events: none;
  background-image:
    radial-gradient(circle at 5% calc(var(--y) * 1), #fff 3px, transparent 6px),
    radial-gradient(
      circle at 65% calc(var(--y) * 1.3),
      #fff 2px,
      transparent 4px
    );
}
.snowflake {
  animation: snowfall 20s linear infinite;

  background-size: 65% 100%;
}
.snowflake::after {
  inset: -4rem 0 0;
  background-size: 45% 100%;
  animation: snowfall 27s linear infinite;

  opacity: 0.7;
}
.snowflake::before {
  inset: -8rem 0 0;
  background-size: 32% 100%;
  animation: snowfall 37s linear infinite;

  opacity: 0.8;
}

@keyframes snowfall {
  0% {
    --y: -1%;
  }
  100% {
    --y: 101%;
  }
}
.element-content {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding-top: 11rem;
  width: 100%;
  text-align: center;
  position: relative;
  z-index: 1;
  color: white;
  gap: 30px;
}
.hero-tag {
  font-family: var(--font-orbitron);
  position: absolute;
  top: 20rem;
  left: 50%;
  color: rgb(166, 128, 63);
  transform: translateX(-50%);
}
.recent-drop-container {
  position: absolute;
  bottom: -160px;
  transform: translate(-50%, -50%);
  left: 50%;
  /* border: 3px green solid; */
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  height: 250px;
  justify-content: space-evenly;
}

.video-container {
  border: 3px green solid;
  height: 80%;
  width: 80%;
}

.v-preview {
  border: 1px blue solid;
  position: relative;
  width: 200px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* .recent-drop {
  border: 2px red solid;
  font-family: var(--font-orbitron);
  animation: glow 1.5s infinite alternate;
  cursor: pointer;
  transition: all 0.3s ease;
} */
/* .recent-drop:hover {
  transform: scale(1.1);
} */
.neon-text {
  font-size: 4rem;
  color: #fff;
  text-shadow:
    0 0 5px #ff005e,
    0 0 10px #ff005e,
    0 0 20px #ff005e,
    0 0 40px #ff005e,
    0 0 80px #ff005e;
  animation: glow 1.5s infinite alternate;
}

@keyframes glow {
  0% {
    text-shadow:
      0 0 5px #ff005e,
      0 0 10px #ff005e,
      0 0 20px #ff005e,
      0 0 40px #ff005e,
      0 0 80px #ff005e;
  }
  100% {
    text-shadow:
      0 0 10px #00d4ff,
      0 0 20px #00d4ff,
      0 0 40px #00d4ff,
      0 0 80px #00d4ff,
      0 0 160px #00d4ff;
  }
}
.offering-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: white;
  color: black;
  border-radius: 0.375rem; /* Equivalent to Tailwind's rounded-md */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Equivalent to Tailwind's shadow-md */
  padding: 1rem; /* Equivalent to Tailwind's p-2 */
  z-index: 10;
}

.section-info {
  height: 100lvh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 3.5rem;
  h2 {
    font-size: 3em;
  }
  span {
    font-family: var(--font-orbitron);
    font-size: 2em;
    color: #97d4d4;
  }
}
.scene-container {
  width: 100%;
  height: 100svh;
  background-color: transparent;
  z-index: -1;
  position: relative;
  transition: all 0.3s ease;
}
#scene-data {
  font-family: var(--font-orbitron);
}
#scene-data-container {
  background-color: hsl(0, 0%, 97%, 0.9);
  padding: 1.5rem;
}

.section-content-2 {
  background: linear-gradient(120deg, #272626, #d3cfcf, #060606, #fffefe);

  background-size: 400% 400%;

  height: 100lvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  animation: gradient 15s ease infinite;

  h2 {
    font-size: 3em;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.blog-plug {
  height: 50dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  text-align: center;
  justify-content: center;
  gap: 3rem;

  h2 {
    font-size: 2.5em;
  }

  span {
    font-family: var(--font-orbitron);
    font-size: 5em;
    color: #97d4d4;
    text-align: center;
  }
}
.burger {
  color: white;
  cursor: pointer;
}
#header-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
}
.burger-container:hover .burger {
  transition: all 0.1s ease;
  color: #97d4d4; /* Change this to your desired hover color */
}
.available {
  /* color: #97d4d4; */
  font-family: var(--font-orbitron);
  font-size: 12px;
  display: flex;
  min-width: 0.25rem;
  min-height: 2.5rem;
  text-align: center;
  background-color: black;
  flex-direction: column;
  padding: 0.35rem;
  border-radius: 10px;
  cursor: pointer;
}
.available:hover {
  background-color: #97d4d4;
  color: black;
  transition: all 0.2s ease;
}

/* .grid-container {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, 1fr);
  width: 100%;
  height: 100%;
  border-radius: 20px;

  position: absolute;
  gap: 15px;
  padding: 0.4rem;
  background-color: transparent;
  z-index: 50;
} */

.grid-container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  gap: 20px;
  /* padding: 5px; */
  /* border: 1px blue solid; */
  z-index: 100;
  background-color: transparent;
  /* border: 1px red solid; */
}
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  min-height: 100dvh; /* grows with content, doesn't constrain */
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;

  background-color: black;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  overflow-x: clip;
}

html {
  scroll-behavior: smooth;
}

h1,
h3,
h2 {
  font-family: "Orbitron", sans-serif;
}
h3 {
  font-weight: 900;
}
#instructions {
  display: flex;
  /* padding: 2rem; */
  position: fixed;
  min-width: 180px;
  text-align: center;
  text-transform: uppercase;
  padding: 10px;
  top: 80%;
  color: white;
  background-color: black;
  border-radius: 4px;
  font-family: var(--font-orbitron), sans-serif;
  left: 50%;
  transform: translateX(-50%);
  /* border: 1px red solid; */
  /* top: 50rem; */
  transform: translateX(-50%);
  font-size: 12px;
}
.line {
  font-family: monospace;
  font-size: 28px;
  text-shadow: 3px 3px 0 #5ea0ae;
}
#grid-section {
  min-height: 100svh;
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 1px red solid; */
  /* width: 100vw; */
}

@media (min-width: 375px) {
  .grid-container {
    width: 90%;
    padding: 10px;
  }
  #grid-section {
  }
}
@media (min-width: 486px) {
  .grid-container {
    width: 80%;
  }
}
@media (min-width: 547px) {
  .grid-container {
    width: 70%;
  }
}
@media (min-width: 680px) {
  .grid-container {
    width: 380px;
  }
}
@media (min-width: 1024px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
    width: unset;
    width: 100%;
    height: 100%;
    position: absolute;

    gap: 16px;
    padding: 0.4rem;
    background-color: transparent;
    z-index: 50;
    /* border: 1px red solid; */
  }
  .el-1 {
    grid-column: 1 / span 3;
    grid-row: 7 / span 2;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 3px rgba(77, 201, 201, 0.1) solid;
    visibility: visible;
    opacity: 0;

    transform: translateX(-600px), translateY(200px);
  }
  .el-6 {
    grid-column: 4 / span 3;
    grid-row: 8 / span 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 3px rgba(77, 201, 201, 0.1) solid;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 3em;
    font-family: var(--font-orbitron);
    font-weight: 700;
    transform: translateX(-600px), translateY(200px);
    opacity: 0;
  }

  .el-2 {
    grid-column: 7 / span 2;
    grid-row: 2 / span 3;
    display: flex;
    justify-content: flex-start;
    border: 3px rgba(77, 201, 201, 0.1) solid;
    padding: 1.5rem;
    gap: 10px;
    flex-direction: column;
    transform: translateX(600px), translateY(200px);
    opacity: 0;
  }

  .el-3 {
    grid-column: 7 / span 3;
    grid-row: 5 / span 3;
    transform: translateX(600px), translateY(200px);
    opacity: 0;
  }
  .el-4 {
    grid-column: 2 / span 2;
    grid-row: 4 / span 3;
    transform: translateX(-600px), translateY(200px);
    opacity: 0;
  }
  .el-5 {
    grid-column: 4 / span 3;
    grid-row: 2 / span 6;
    width: 100%;
    overflow-x: clip;
    opacity: 0.8;
    /* background-color: hsla(0, 1%, 15%, 0.9); */
    background-color: hsla(0, 0%, 5%, 0.9);

    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25); /* Soft shadow */

    /* border: 1px blue solid; */
  }
  #instructions {
    top: 85%;
  }
}
